include ./components/plan

doctype html
html(lang="ru")
  include ./components/head.pug
  body    
    include ./components/header.pug
    
    //- Call mixin
    .wrapper
      +plan({title: "free", price: 0})
      +plan({title: "personal", price: 25})
      +plan({title: "business", price: 50, isBusiness: true})
      +plan({title: "ultimate", price: 99})
    
    include ./components/footer.pug
    script(src="script.js")