include ./components/plan
include ./components/section_projects
include ./components/section_products
include ./components/section_rent

doctype html
html(lang="ru")
  include ./components/head.pug
  body    
    include ./components/header.pug
    	
    +projects ({title: "наши проекты"})
    +products ({title: "каталог продукции"})
    +rent ({title: "аренда оборудования"})
    //- +projects ({title: "новости"})    
	
    //- Call mixin
    //- .wrapper
    //-   +plan({title: "free", price: 0})
    //-   +plan({title: "personal", price: 25})
    //-   +plan({title: "business", price: 50, isBusiness: true})
    //-   +plan({title: "ultimate", price: 99})
    
    include ./components/footer.pug
    script(src="script.js")