* {
    padding: 0;
    margin: 0;
}
html{
  font-size: 20px;
}
body {
    width: 950px;
    margin: 0 auto;
    padding: 0 5px;
    /*margin-top: 50px;*/
    background-color: #899593;
}
.container {
    margin: 10px;
    background: #f0f1f4;
}
.header__img {
    float: left;
}
.main {
    
}