@import url (https://fonts.googleapis.com/css?family=PT+Serif);
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;	
}

:root {
    --back-color: #02a8a8;
    --back-inside-color: #f2a8a8;
}

body {
    background-color: var(--back-color);
}

.container {
    width: 960px;	
	padding-bottom: 30px;
    margin: 0 auto;
	background: white;
	/*border: 3px solid black;
    border-radius: 4px;*/    
}

.header {
  margin-top: 50px;
}

.header img,
.footer {
  width: 900px;
  margin: 0 30px;
}

.main {
  padding: 20px 120px;
  /*background: var(--back-inside-color);*/
}

.main h3,
.footer {
  text-align: center;
}

    .main a {
	  color: blue;
	  font-weight: bold;
	}

    .main p {
      line-height: 1.5em;
    }

    .main li {
      padding-bottom: 5px;
    }

.rows {
  margin-top: 30px;
  margin-bottom: 30px;
}

.rows::after {
  content: "";
  display: table;
  clear: both;
}

.rows-2 {
  margin-bottom: 20px;
}

	.rows-2 p {
	  padding-top: 10px;
	}

.item {
  display: inline-block;
  width: 340px;
  margin-right: 20px;
  text-align: center;
}

    .item p {
      font-size: 18px;
      font-weight: bolder;
      margin: 30px;
    }

    .item input {
      margin-bottom: 40px;
    }

    .item img {
      width: 100%;
    }

    .item:nth-child(2n) {
      margin-right: 0;
    }

input[type=submit] {
  width: 100%;
  min-height: 45px;
  font-family: "PT Serif", serif;
  font-size: x-large;
  font-weight: 800;
  padding: 5px 15px;
  color: white;
  background: #b21f66;
  border: 0 none; /*Убирает рамки кнопки*/
  cursor: pointer; /*появляется курсор в виде перчатки*/
  --webkit-border-radius: 10px;
  border-radius: 10px;
}

.footer {
  padding: 20px 0;
  color: white;
  background-color: var(--back-color);
  /*margin-bottom: 30px;*/
}

	.footer img {
	  width: 30px;
	  height: 30px;
	  padding: 10px 0;
	}

	.footer p {
	  padding: 10px 0;
	}
	
	.footer a {
	  color: blue;
	  margin-bottom: 30px;
	}