html, body {
    margin: 0;
    padding: 0;
}
.page-header {
    width: 1920px;
    min-height: 800px;
    /*font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;*/
    /* identical to box height */
    box-sizing: border-box;
    background: url('../image/Rectangle 2.png'), #c4c4c4;
}
.page-header__top-menu {
  display: flex;
  align-items: center;
  /* ---------- */
  width: 1920px;
  min-height: 80px;
  background-color: rgba(0, 91, 193, 0.6);
}
.page-header__logo {
    padding-left: 40px;
    /*background-image: url('../image/logo.png');*/
}
.page-header__contact {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    /* ---------- */
    list-style: none;
    color: #fff;
    margin-left: 555px;
    padding: 0;
}
.page-header__contact_font {
    font-family: "OpenSans-SemiBold";
    /*font-family: "OpenSans-Light";*/
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}
.page-header__contact li {
    margin-right: 26px;
}
.page-header__content_position-background {
    width: 444px;
    height: 720px;
    background-color: rgba(0, 91, 193, 0.6);
    /* ---------- */
    margin-left: 405px;
}
.page-header__content_indent {
    position: relative;
    top: 202px;
    left: 190px;
}
.page-header__text {
    width: 635px;
    height: 142px;
    /* ---------- */    
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.01em;
    /* ---------- */
    color: #fff;
    margin: 0;
}
.page-header__description {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}
.page-header__button {
  font-size: 24px;
  padding: 5px 10px;
  border: 1px solid cyan;
  background: skyblue;
}
.page-header__button:hover {
  background: darkcyan;
}
.page-header__button:active {
  background: skyblue;
}