header
  img.header__background(src="./assets/img/background.png")
  .container.container_max-width_less
    .header__menu.menu
      .header__logo
        img(src="./assets/img/HouseVOP.png")
        p.logo__title= 'жилой комплекс'
      nav.header__nav
        a(href="#") Контакты
        a(href="#") Ипотека
        a(href="#") Каталог квартир
        a(href="#") Район
        a(href="#") О комплексе
    .header__complex