header
  img.header__background(src="./assets/img/background.png")
  .container.container_max-width_less
    .top-menu.menu
      .logo.top-menu__logo
        //- img(src="./assets/img/HouseVOP.png")
        h1.logo__title HouseVOP
        p.logo__descr= 'жилой комплекс'
      nav.nav
        a(href="#") Контакты
        a(href="#") Ипотека
        a(href="#") Каталог квартир
        a(href="#") Район
        a(href="#") О комплексе
    .complex Жилой комплекс в историческом центре