header
  img.header__background(src="./assets/img/background.png")
  .container
    .top-menu.top-menu_font.top-menu_grid
      .logo.top-menu__logo
        //- img(src="./assets/img/HouseVOP.png")
        h1.logo__title HouseVOP
        p.logo__descr= 'жилой комплекс'
      nav.nav
        a(href="#") Контакты
        a(href="#") Ипотека
        a(href="#") Каталог квартир
        a(href="#") Район
        a(href="#") О комплексе
    .complex.complex_grid
      .complex__title Жилой комплекс
        span= ' в историческом центре'
      .image-mouse
    .top-footer.top-menu_font.top-footer_grid.top-footer_indent
      p.placeholder Наб. реки Фонтанки 10-15
      p.phone-call 8 (812) 123-45-67