header
  img.header__background(src="./assets/img/background.png")
  .container.container_max-width_less
    .header__menu
      img.header__logo(src="./assets/img/HouseVOP.png")
      ul.header__contact
        li Контакты
        li Ипотека
        li Каталог квартир
        li Район
        li О комплексе
    .header__complex