//- Header.pug
header.page-header
  .page-header__top-menu
    img.page-header__logo(src="image/logo.png", width="140", height="58")
    ul.page-header__contact.page-header__contact_font
      li Контакты
      li Сервис
      li Каталог
      li Портфолио
      li О компании
  div.page-header__content_position-background
    aside.page-header__content_indent
      h1.page-header__text Светотехническое оборудование <br />в Петербурге
      p.page-header__description Продажа, аренда светотехнического оборудования.<br />Оформление официальных мероприятий под ключ.
      button.page-header__button перейтИ