//- Head.pug
head
  meta(charset="utf-8")
  title Учимся работать с шаблонизатором Pug  
  link(rel="stylesheet", type="text/css", href="style/style.css")
  link(rel="stylesheet", type="text/css", href="style/plan-style.css")
  link(rel="stylesheet", type="text/css", href="style/header-style.css")
