//- Head.pug
head
  meta(charset="utf-8")
  title Учимся работать с шаблонизатором Pug
  link(rel="stylesheet", type="text/css", href="./fonts/OpenSans/style.css")
  link(rel="stylesheet", type="text/css", href="./fonts/Oswald/style.css")
  link(rel="stylesheet", type="text/css", href="style/style.css")
  link(rel="stylesheet", type="text/css", href="style/plan-style.css")
  link(rel="stylesheet", type="text/css", href="style/header-style.css")
  link(rel="stylesheet", type="text/css", href="style/section-style.css")
  link(rel="stylesheet", type="text/css", href="style/section-rent_style.css")
