//- Header.pug
header.page-header
  .page-header__top-menu
    img.page-header__logo(src="image/logo.png", width="140", height="58")
    ul.page-header__contact.page-header__contact_text
      li Контакты
      li Сервис
      li Каталог
      li Портфолио
      li О компании
  .page-header__content