//- News
mixin news(options)
  -
    var sectionText = "section__text"
  section.section_indent.section_indent_news_height
    .section__top-menu
      .section__top-left
        img.decor-heading(width="100", height="13", src="./image/decor-heading.png")
        h2(class = sectionText)= options.title
      .section__top-right
        button.section-news__button.section-news__button-text(type="button") все новости
    .section__list
      .section__inside-list
        .section__item.section-news__item.section-news__item_image
        .rent__content-right-side_flex_between.section-news__item.section-news__item_flex-col-between
          .section-news__top-menu
            h4.rent__top-left.rent__top-left_indent семинар milos
            p.rent__content-text.rent__content-text_indent.rent__content-text_font 27.01.2019
          p.rent__content-text.rent__content-text_no-padding Наши сотрудники прошли последний семинар от компании Milos. Они получили новый объем знаний, который позволит нашей компании заниматься оборудованием не только мероприятий, но производственных помещений.
          a.rent__content-text.rent__content-text_no-padding.rent__content-text_underline Читать полностью...
      .section__second-item
        h4.section__head-text Выставка prolight+sound namm russia 2016
        p.section__main-text 30 контрактовб тысячи восторженных посетителей...
      .section__second-item
        h4.section__head-text семинар robe
        p.section__main-text 30 января 2017 года наши сотрудники побывали в Берлина...