  //- News
  section
    .section__top-menu
      .section__top-left
        img.decor-heading(width="100", height="13", src="./image/decor-heading.png")
        h2(class = sectionText)= options.title
      .section__top-right
        button
    .section__list
      .section__item
      .section__item
      .section__item