//- Catalog products
mixin products(options)
  -
    var sectionText = "section__text"
  section.section_indent.section_indent_products_height
    .section__top-menu
      .section__top-left
        img.decor-heading(width="100", height="13", src="./image/decor-heading.png")
        h2(class = sectionText)= options.title
    .section__choose
      a.section__link.section__text(href="#") robe
      a.section__link.section__text(href="#") compulite
    .section__list
      .section__item.section__item_less
        span.section__item-text.section__item-text_less.section__item-text_position_center
          | Статичные <br />
          | светодиодные приборы
      .section__item.section__item_less.section__item_less_2
        span.section__item-text.section__item-text_less.section__item-text_position_center аксессуары
      .section__item.section__item_less.section__item_less_3
        span.section__item-text.section__item-text_less.section__item-text_position_center контроллеры