  //- Arenda oborudovania
mixin rent(options)
  -
    var sectionText = "section__text"
  section.section_indent.section_indent_rent_height
    .section__top-menu
      .section__top-left
        img.decor-heading(width="100", height="13", src="./image/decor-heading.png")
        h2(class = sectionText)= options.title
    .section__list
      .section__rent-text_position_center
        p.section__rent-text Мы занимаемся прокатом светового и сценического оборудования ведущих мировых производителей, таких как Robe, SGM, StudioDue, ChainMaster, Milos, Universal Effects, ArtLighting, MobilTech, Lampo, Martin, Spotlight, Compulite, Eurolite и др.
      .section__rent-item
        .rent__top-menu
          .rent__top-left
            h3 новое оборудование предоставляемое в аренду
          .rent__top-right
            img.section__menu-button(width="55", height="55", src="./image/menu-button_left.png", alt="стрелка влево")
            img.section__menu-button(width="55", height="55", src="./image/menu-button_right.png", alt="стрелка вправа")