//- Include section_projects.pug
section.section_indent
  .section__top-menu
    img(width="100", height="13", src="../image/decor-heading.png").decor-heading
    h2.section__text наши проекты
    button(width="55", height="55", src="../image/menu-button_left.png").section__menu-button
    button(width="55", height="55", src="../image/menu-button_right.png").section__menu-button
  .section__list
    .section__item
    .section__item