  //- Arenda oborudovania
mixin rent(options)
  -
    var sectionText = "section__text"
  section.section_indent.section_indent_rent_height
    .section__top-menu
      .section__top-left.section__top-left_align_up
        img.decor-heading(width="100", height="13", src="./image/decor-heading.png")
        h2(class = sectionText)= options.title
    .section__list
      .section__rent-text_position_center
        p.section__rent-text Мы занимаемся прокатом светового и сценического оборудования ведущих мировых производителей, таких как Robe, SGM, StudioDue, ChainMaster, Milos, Universal Effects, ArtLighting, MobilTech, Lampo, Martin, Spotlight, Compulite, Eurolite и др.
      .section__rent-item
        .section__rent-item_inside
          .rent__top-menu
            .rent__top-left
              h4 новое оборудование, предоставляемое в аренду:
            .rent__top-right
              img.section__menu-button(width="55", height="55", src="./image/menu-button_left.png", alt="стрелка влево")
              img.section__menu-button(width="55", height="55", src="./image/menu-button_right.png", alt="стрелка вправа")
          .rent__content
            img.rent__content-right(width="255", height="250", src="./image/rent-4.png", alt="какое то оборудование")
            div.rent__content-right-side_flex_between
              h3.rent__top-left.rent__top-left-text Robe robin parfect 100
              ul.rent__content-text
                li источник света 12 светодиодов RGBW<br /> по 15 Вт каждый
                li угол раскрытия 7
                li в комплекте рассеивающая линза 40
                li потребляемая мощность 200 Вт