mixin item(descr)
  .item
    p.item-descr= descr
    //- h2.item-title= title

mixin item-loft(descr)
  .item-loft
    p.item-descr.item-descr_size_24.our-apartments__item-descr= descr
    //- h2.item-img= title