extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  section.section_indent-down_zero
    .container.container_grid
      +item('Рядом исторические парки и скверы')
      +item('Полностью обустроенный')
      +item('10 фонтанов на территории')
      +item('6 км велодорожек')

  section.our-apartments__section
    //- .container
    //- .our-apartments_grid-row_1 
    .container
      h2.header-text.our-apartments__header-text Наши квартиры
      //- .our-apartments_pos
      .our-apartments__container
        +item-loft('Лофт - 3 этажа')
        +item-loft('Лофт - 3 этажа')
        +item-loft('Лофт - 2 этажа')
        +item-loft('Лофт - 2 этажа')

  section.section_indent_zero
    //- .header__background
    img.background-wouldulike(src="./assets/img/back-wouldulike.png")
    .container.container__would-u-like-to-see
      h2.header-text.header-text__line-height_40 Хотите посмотреть?
      p.would-u-like-to-see__size-and-pos.would-u-like-to-see__title Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
    .container.container__form-lookfor
      +item-form('form-lookfor')
  section.section__video
    .container.video__container
      .video
        .play-button
  section.section__maps
    .container.maps__container
      h2.header-text.maps__header-text Район на карте
      .area
  section.section__questions
    .container.questions__container
      h2.header-text.questions__header-text Есть вопросы?
      +item-form('questions')

      
      
  //- example-component


block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }