// Fonts here
// see more: https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files

@font-face {
    font-family: 'Post No Bills';
    font-weight: 600;
    src: url('/assets/fonts/post-no-bills/postnobillscolombo-semibold.ttf');
}