.our-apartments__section {
    padding: 0;
}

.our-apartments__container {
    display: grid;
    grid-template-rows: 70px 320px 320px;
    grid-template-columns: 535px 535px;
    grid-gap: 30px;
}

.item-loft {
    grid-row: 2;
    grid-column: 1;
    position: relative;
    z-index: 1;
}

.item-loft:nth-child(2) {
    grid-row: 3;
    grid-column: 1;
}

.item-loft:nth-child(3) {
    grid-row: 2;
    grid-column: 2;
}

.item-loft:nth-child(4) {
    grid-row: 3;
    grid-column: 2;
}

.our-apartments__item-descr {
    position: absolute;
    z-index: 2;
    top: 248px;
    left: 50px;
}

.item-descr_size_24 {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
/*
.item-descr_size_24:before {
    content: "\A";
    white-space: pre;
    z-index: 3;
}*/
/*
.item-loft:nth-child(2n + 2) {
    grid-column: 3;
}

.item-loft:nth-child(3n) {
    grid-column: 1;
    //grid-row: 3;
}

.item-loft:nth-child(4n) {
    grid-column: 3;
    //grid-row: 5;
}

.item-loft:nth-child(even) {
    grid-row: 3;
}

.item-loft:nth-child(odd) {
    grid-row: 5;
}*/

.our-apartments__header-text {
    width: 292px;
    height: 36px;
}

.header-text {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
}

.our-apartments_grid-row_1 {
    grid-row: 1;
}

.our-apartments_pos {
    grid-row: 3;
    grid-column: 1/4;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //flex-flow: row wrap;
}

.item-loft {
    width: 535px;
    height: 320px;
    //padding-left: 30px;
}

.item-loft:nth-child(odd) {
    //padding-left: 0;
}

.item-loft::before {
    content: url('/assets/img/living-room2.png');
}

.item-loft:nth-child(-n + 2)::before {
    content: url('/assets/img/living-room.png');
}