.section_color_black {
    background-color: #242B33;
}

.container_grid {
    display: grid;
    grid-template-rows: 80px 180px 120px;
    grid-template-columns: 88px 193px 133px 134px 124px;
    grid-column-gap: 70px;
}

.item-descr {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #FFF;
}

.item {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item:nth-child(2) {
    grid-column: 3;
}

.item:nth-child(3) {
    grid-column: 4;
}

.item:nth-child(4) {
    grid-column: 5;
    padding-top: 6px;
}

.item::before {
    content: url(/assets/img/bench.png);    
}

.item:nth-child(2)::before {
    content: url(/assets/img/building.png);
}

.item:nth-child(3)::before {
    content: url(/assets/img/fountain.png);
}

.item:nth-child(4)::before {
    content: url(/assets/img/bicycle.png);
}