@import "../utils/vars";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

// header style
.header__background {
    width: 100%;
    height: 800px;
    max-width: 1920px;
    position: absolute;
    z-index: -1;
}

.container_max-width_less {
    max-width: 57.8125%;
}

.menu {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFF;
}

.header__menu {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-rows: 30px 66px 200px; //55px
    grid-template-columns: 134px 1fr 541px;
}

.header__logo {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo__title{
    font-family: 'Post No Bills', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
}

.logo__descr {
    width: 100%;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.header__nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    grid-row: 2;
    grid-column: 3;
}

a:nth-child(1n) {
    color: #FFF;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}

.header__complex {
}