.container__form-lookfor {
    grid-row: 2;
    grid-column: 4;
    max-width: 100%;
    margin: 0;
    display: flex;
}

/* position of elements below */

.form-lookfor {
    display: grid;
    grid-template-rows: 30px 50px 50px;
    grid-row-gap: 35px;
    grid-template-columns: 255px 255px;
    grid-column-gap: 30px;
}

.form-lookfor__input:nth-child(1) {
    grid-row: 2;
    grid-column: 1;
}

.form-lookfor__input:nth-child(2) {
    grid-row: 2;
    grid-column: 2;
}

.form-lookfor__input:nth-child(3) {
    grid-row: 3;
    grid-column: 2;
}

.form-lookfor__text-area {
    grid-row: 3;
    grid-column: 1;
    display: flex;
    align-items: center;
}

.form-lookfor__input {
    //opacity: 0.2;
}

/* position of elements above */

.input {
    width: 255px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #BEBEBE;
    fill-opacity: 1;
    text-align: center;
}

.input_background-color_D4C17F {
    //opacity: 1;
    background-color: #D4C17F;
}

.input_color_FFF {
    font-weight: bold;
    font-size: 16px;
    color: #FFF;
}

.text-area {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #E7E7E7;
}