.maps__container {
    display: grid;
    grid-template-rows: 36px 358px;
    grid-row-gap: 100px;
}

.maps__header-text {
    grid-row: 1;
}

.maps__area {
    grid-row: 2;
}

.area {
    width: 100%;
    height: 358px;
    content: url(/assets/img/maps.png);
}
