.section_indent-down_zero {
    padding-bottom: 0;
}

.section_indent_zero {
    padding: 0;
    display: grid;
    grid-template-rows: 180px 200px 180px;
    grid-template-columns: 405px 535px 35px 540px 405px;
}

.background-wouldulike {
    grid-row: 1 / 3;
    grid-column: 1 / 6;
    //width: 100%;
    //height: 560px;
    //max-width: 1920px;
    //position: absolute;
    //z-index: -1;
}

.container__would-u-like-to-see {
    //position: relative;
    //z-index: 1;
    grid-row: 2;
    grid-column: 2;
    max-width: 100%;
    margin: 0;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.our-apartments__would-u-like-to-see {
    line-height: 40px;
}

.would-u-like-to-see__size-and-pos {
    width: 535px;
    height: 114px;
}

.would-u-like-to-see__title {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
}